@import "/src/app/theme/colors.scss";
.sidenav-outer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  position: relative;
  .close-icon {
    position: absolute;
    right: 0;
    top: -4px;
    cursor: pointer;
    .mat-icon {
      color: $backgroundColor;
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }
  .sidenav-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    .user-img {
      height: 50px;
      width: 50px;
      padding: 20px;
      border-radius: 50%;
      background-color: grey;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    .name,
    .its-id {
      color: $secondaryTextColor;
      font-size: 16px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .divider {
      width: 100%;
      border-top-color: $backgroundColor;
    }
    .menu-navigation {
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 10px 0px;
      display: flex;
      flex-direction: column;

      .navigation-item {
        padding: 15px;
        font-size: 15px;
        color: $backgroundColor;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        line-height: 140%;
        padding-left: 20px;
        &:hover {
          background-color: $backgroundColor;
          color: $primaryTextColor;
        }
      }
      .active-navigation {
        background-color: $backgroundColor;
        color: $primaryTextColor;
      }
    }
  }
  .sidenav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .logo {
      background-color: $backgroundColor;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .designed-by {
      text-align: center;
    }
  }
}
