<div class="sidenav-outer">
  <div *ngIf="isToggling" (click)="toggle()" class="close-icon">
    <mat-icon>close</mat-icon>
  </div>
  <div class="sidenav-top">
    <div class="user-img">
      <img src="./assets/images/user.png" alt="" />
    </div>
    <div class="name">{{ userData.getUserFullName() }}</div>
    <div class="its-id">
      {{ userData.getItsId() }}
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="menu-navigation">
      <div
        class="navigation-item"
        [routerLink]="['home']"
        routerLinkActive="active-navigation"
        (click)="toggle()"
      >
        Home
      </div>
      <div
        [routerLink]="['menu']"
        routerLinkActive="active-navigation"
        class="navigation-item"
        (click)="toggle()"
      >
        Menu
      </div>
      <div
        [routerLink]="['user']"
        routerLinkActive="active-navigation"
        class="navigation-item"
        (click)="toggle()"
      >
        Profile
      </div>
      <div class="navigation-item" (click)="logout()">Logout</div>
    </div>
  </div>
  <div class="sidenav-bottom">
    <div class="logo">
      <img src="./assets/images/fmb-logo.png" alt="" />
    </div>
    <div class="designed-by">
      <div>Designed By</div>
      <div>Clear Concept Solutions</div>
    </div>
  </div>
</div>
