<div class="dashboard-outer">
  <div class="row1 desktop">
    <div class="payment-card">
      <div class="title">Takmeem Amount</div>
      <div class="value">&#8377;20000</div>
    </div>
    <div class="payment-card">
      <div class="title">Paid Amount</div>
      <div class="value">&#8377;10000</div>
    </div>
    <div class="payment-card pending">
      <div class="title">Pending Amount</div>
      <div class="value">&#8377;10000</div>
    </div>
  </div>
  <div class="payment-history"></div>
  <div class="row1 mobile">
    <div class="payment-card">
      <div class="title">Takhmeem Amount</div>
      <div class="value">&#8377;20000</div>
    </div>
    <div class="payment-card">
      <div class="title">Paid Amount</div>
      <div class="value">&#8377;10000</div>
    </div>
    <div class="payment-card pending">
      <div class="title">Pending Amount</div>
      <div class="value">&#8377;10000</div>
    </div>
  </div>
</div>
