<div class="dashboard-outer">
  <div class="row1">
    <!-- <div class="payment-card">
      <div class="title">Takmeem Amount</div>
      <div class="value">&#8377;20000</div>
    </div>
    <div class="payment-card">
      <div class="title">Paid Amount</div>
      <div class="value">&#8377;10000</div>
    </div> -->
    <div class="payment-card pending">
      <div class="title">Pending Amount</div>
      <div class="value">&#8377;10000</div>
    </div>
  </div>
  <div class="row2">
    <div class="today-menu">
      <app-menu-card [menu]="menuData"></app-menu-card>
    </div>
    <!-- <div class="row1 mobile">
      <div class="payment-card">
        <div class="title">Takhmeem Amount</div>
        <div class="value">&#8377;20000</div>
      </div>
      <div class="payment-card">
        <div class="title">Paid Amount</div>
        <div class="value">&#8377;10000</div>
      </div>
      <div class="payment-card pending">
        <div class="title">Pending Amount</div>
        <div class="value">&#8377;10000</div>
      </div>
    </div> -->

    <!-- <div class="payment-history">
      <table
        mat-table
        [dataSource]="paymentHistoryData"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Amount Paid</th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      </table>
    </div> -->
  </div>
</div>
