@import "/src/app/theme/colors.scss";
.header-outer {
  height: 100%;
  //   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  .title {
    font-size: 25px;
    color: $secondaryTextColor;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .toggle-btn {
    display: flex;
    cursor: pointer;
    .mat-icon {
      color: #fff;
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }
}
