$backgroundColor: #e7d5b7;
$primaryButtonColor: #5e3c1c;
$primaryTextColor: $primaryButtonColor;
$secondaryBackgroundColor: #844204;
$tertiaryBackgroundColor: #6b2504;
$secondaryTextColor: $backgroundColor;
