<div class="home-container">
  <mat-sidenav-container class="home-inner">
    <mat-sidenav
      *ngIf="isLoggedIn$ | async as isLoggedIn"
      [opened]="!isToggling"
      [mode]="isToggling ? 'over' : 'side'"
      class="sidenav"
    >
      <app-sidenav
        (toggleSideNav)="toggleSideNav()"
        [isToggling]="isToggling"
      ></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <div class="header" *ngIf="isLoggedIn$ | async as isLoggedIn">
        <app-header
          [isToggling]="isToggling"
          (toggleSideNav)="toggleSideNav()"
        ></app-header>
      </div>
      <div class="router-outlet-outer">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- <mat-sidenav opened mode="side" position="end">End content</mat-sidenav> -->
  </mat-sidenav-container>
</div>
