@import "/src/app/theme/colors.scss";
.home-container {
  overflow: auto;
  height: 100%;
  .home-inner {
    height: 100%;
    background-color: inherit;
    overflow: auto;
    mat-sidenav {
      background-color: $secondaryBackgroundColor;
      width: 280px;
    }
    .header {
      height: 65px;
      width: 100%;
      background-color: $tertiaryBackgroundColor;
    }
    .sidenav {
      padding: 10px 0px;
    }
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
    .router-outlet-outer {
      // background-color: #fff;
      overflow: auto;
      height: 100%;
      width: 100%;
      // background-color:rgba(255,0,0,0.3)
    }
  }
}
