<div class="menu-card-outer">
  <div class="menu-card-top">
    <div class="calender-outer">
      <div class="day">{{ day }}</div>
      <div>
        <span class="date">{{ date }}</span>
        <span class="month"> {{ month }}</span>
      </div>
    </div>
    <div class="toggle">
      <mat-slide-toggle
        [(ngModel)]="isChecked"
        [disabled]="!isToday"
        class="slide-toggle"
        >Thaali required?</mat-slide-toggle
      >
      <span class="rsvp"
        >RSVP {{ isToday ? "ends" : "starts" }} {{ dayBefore }} at
        {{ isToday ? "8:00pm" : "5:00am" }}</span
      >
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="menu-card-bottom">
    <span class="menu-data"
      ><span class="menu-text">Menu:</span> Kheer, Chicken Tarkari, Rotis,
      Palidu, khichdi</span
    >
    <div class="toggle-qty">
      <mat-slide-toggle class="slide-toggle" *ngIf="isToday && isChecked"
        >Tarkari
      </mat-slide-toggle>
      <mat-slide-toggle class="slide-toggle" *ngIf="isToday && isChecked"
        >Palidu
      </mat-slide-toggle>
      <mat-slide-toggle class="slide-toggle" *ngIf="isToday && isChecked"
        >Rice
      </mat-slide-toggle>
    </div>
  </div>
</div>
