<div class="menu-card-outer">
  <div class="menu-card-top">
    <div class="calender-outer">
      <div class="day">{{ day }}</div>
      <div>
        <span class="date">{{ date }}</span>
        <span class="month"> {{ month }}</span>
      </div>
    </div>
    <div class="toggle">
      <mat-slide-toggle
        [(ngModel)]="isChecked"
        [disabled]="!isToday"
        class="slide-toggle"
        >Thaali required?</mat-slide-toggle
      >
      <span class="rsvp"
        >RSVP {{ isToday ? "ends" : "starts" }} {{ dayBefore }} at
        {{ isToday ? "8:00pm" : "5:00am" }}</span
      >
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="menu-card-bottom">
    <span class="menu-data"
      ><span class="menu-text">Menu:</span> Kheer, Chicken Tarkari, Rotis,
      Palidu, khichdi</span
    >
    <!-- <div class="toggle-qty">
      <mat-slide-toggle class="slide-toggle" *ngIf="isToday && isChecked"
        >Tarkari
      </mat-slide-toggle>
      <mat-slide-toggle class="slide-toggle" *ngIf="isToday && isChecked"
        >Palidu
      </mat-slide-toggle>
      <mat-slide-toggle class="slide-toggle" *ngIf="isToday && isChecked"
        >Rice
      </mat-slide-toggle>
    </div> -->
    <div class="toggle-actn-outer">
      <div class="outer-container">
        <div class="tiffin">
          <div class="header-container"></div>
          <div class="container">Roti</div>
          <div class="container">Rice</div>
          <div class="container">Rice</div>
          <div class="container">Tarkari</div>
          <div class="container">Palidu</div>

          <!-- <div class="container last">Rice</div> -->
        </div>
        <div class="qty-selection-container">
          <div class="qty-container">
            <!-- <div>Roti</div> -->
            <mat-form-field appearance="outline">
              <mat-label>Quantity</mat-label>
              <mat-select>
                <mat-option value="12">12</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="0">0</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="qty-container">
            <mat-slide-toggle class="slide-toggle">Rice </mat-slide-toggle>
          </div>
          <div class="qty-container">
            <mat-slide-toggle class="slide-toggle">Rice </mat-slide-toggle>
          </div>
          <div class="qty-container">
            <mat-slide-toggle class="slide-toggle">Tarkari </mat-slide-toggle>
          </div>
          <div class="qty-container">
            <mat-slide-toggle class="slide-toggle">Palidu </mat-slide-toggle>
          </div>

          <!-- <div class="qty-container">xxxx</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
