<div class="menu-outer">
  <div class="menu-list">
    <div class="menu-item" *ngFor="let menu of menuData">
      <app-menu-card [menu]="menu"></app-menu-card>
      <div class="divider-outer">
        <div class="divider"></div>
        <div>
          <img
            class="rotate"
            src="https://www.its52.com/imgs/1443/Motif_Header.png"
          />
          <img
            class="img"
            src="https://www.its52.com/imgs/1443/Motif_Header.png"
          />
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  
</div>
