<div class="login_outer" *ngIf="loginForm">
  <div class="umoor-logo">
    <img src="./assets/images/UMOORFMB.png" alt="" />
  </div>
  <div class="login_inner">
    <div class="fmb-logo">
      <img src="./assets/images/fmb-logo.png" alt="" />
      <!-- <h1>Pune_Khadki</h1> -->
    </div>
    <h3 class="city_name">Khadki Pune</h3>
    <form [formGroup]="loginForm" class="login-form" (submit)="onSubmit()">
      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Enter ITS ID</mat-label>
        <input
          formControlName="itsId"
          type="number"
          required
          matInput
          maxlength="8"
          minlength="8"
        />
      </mat-form-field>
      <mat-error
        *ngIf="
          loginForm?.controls.itsId.touched && loginForm.controls.itsId.invalid
        "
      >
        <span *ngIf="loginForm?.controls.itsId.errors.required"
          >ITS ID is required.</span
        >
        <span *ngIf="loginForm?.controls.itsId.errors.pattern"
          >Please Enter the valid ITS ID</span
        >
      </mat-error>
      <div class="login-action-container">
        <!-- <button
          mat-button
          class="login-action-btn"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          submit
        </button> -->
        <app-action-button
          class="login-action-btn"
          type="submit"
          [disabled]="loginForm.invalid"
          >Submit</app-action-button
        >
      </div>
    </form>
  </div>
</div>
